<div id="product-assembly-fields">
  <div class="six columns">
    <div class="field">
      <%= f.check_box(:can_be_part) %>
      <%= f.label :can_be_part, Spree.t(:can_be_part)%>
    </div>
  </div>
  <div class="six columns">
    <div class="field">
      <%= f.check_box(:individual_sale) %>
      <%= f.label :individual_sale, Spree.t(:individual_sale)%>
    </div>
  </div>
</div>
